@media (max-width:950px) {
    /* .main-container{
        display: none;
    } */

    .nav-a{
        margin: 0 0;
    }

    #hero img{
        width: 40vw;
        margin-top: 40px;
        height: 450px;
    }

    /* history section */
    #history{
        flex-direction: column;
    }

    .history-img{
        height: 400px;
        width: 100vw;
        flex: 1;
    }

    .history-text{
        flex: 2;
    }

    /* card section */
    #card-section{
        grid-template-columns: auto;
    }

    .cards-middle{
        border: none;
    }
}

@media (max-width: 700px){
    h2{
        font-size: 42px;
        font-weight: 700;
    }

    .nav-item{
        display: none;
    }

    .openmenu{
        display: block;
        height: 17px;
        width: 30px;
        cursor: pointer;
    }

    .close{
        cursor: pointer;
    }

    /* ABOUT SECTION */
    #hero{
        display: flex;
        flex-direction: column;
        padding: 0 0px;
    }

    .hero-text{
        width: 100%;
        padding: 0 5%;
        text-align: justify;
    }

    .hero-text h2{
        width: 100%;
        text-align: center;
    }

    #hero img{
        margin-left: 0;
        margin: auto;
        width: 80%;
        height: 100%;
        /* width: 350px;
        height: 350px; */
    }

    .first-guest, .second-guest{
        flex-direction: column;
    }

    #guest-section{
        min-height: 100vh;
        padding-bottom: 20px;
    }

    .guest{
        flex-direction: column;
    }

    #guest-section h2, .hero-text h2, .contact-text h2{
        font-size: 36px;
    }

    .guest-card img{
        margin: auto;
    }

    .guest-card{
        width: 80vw;
    }

    /* CONTACT SECTION */
    input{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .lower-contact{
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        text-align: center;
    }

}