@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    overflow: hidden;
    font-family: 'Public Sans', sans-serif;
}

p{
    line-height: 24px;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 300;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1 a{
    color: white;
}

h3{
    font-size: 26px;
    font-weight: 400;
}



/* nav section */
/* .nav-section{
    background-color: grey;
    height: 50px;
    width: 100vw;
    position: absolute;
} */

nav{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 0 10%;
    position: fixed;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item li a{
    color: white;
    padding: 16px 10px;
    transition: all 0.3s;
    /* padding-left: 30px; */
}

.nav-item li a:hover{
    color: rgb(211, 106, 20);
    background-color: rgb(194, 191, 191);
}

.nav-a{
    margin: 0 35px;
}

.items{
    display: none;
}

.openmenu{
    display: none;
}

.items{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(146, 144, 144);
    transition: all 0.5s ease-in-out;
    right: 0;
    flex-direction: column;
}

.items li a{
    color: white;
    padding: 10px 15px;
}

.items li{
    margin-top: 80px;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    
    width: 100%;
    transition: all 0.5s ease;
}

.items li:hover{
    background-color: rgb(211, 106, 20);
}

.close{
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 3;
}

/* showcase-section */
.showcase{
    background: black url(/img/img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    max-width: 100vw;
}

.showcase-text{
    height: 100%;
    /* width: 400px; */
    display: flex;
    gap: 30px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-text p{
    width: 60%;
}

h2{
    font-size: 48px;
    font-weight: 700;
}

span{
    color: rgb(211, 106, 20);
}

.btn{
    display: inline-block;
    padding: 15px 20px;
    background-color: grey;
    color: white;
    transition: all 0.5s ease;
}

.btn:hover{
    color: grey;
    background-color: white;
}

/* history section */
#history{
    display: flex;
    background-color: grey;
}

.history-text{
    padding: 60px 25px;
    text-align: center;
}

.history-text p{
    margin: 30px 0px;
}

.history-img{
    height: 400px;
    width: 50vw;
}

.history p {
    margin: 15px 0;
}

.history-btn{
    padding: 10px 15px;
    background-color: white;
    color: grey;
}

.history-btn:hover{
    color: white;
    background-color: grey;
    border: 1px solid white;
    transition: all 0.5s ease;
}

/* card-section */
#card-section{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    margin: auto;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.cards p{
    width: 300px;
}

.icon-img{
    width: 70px;
    margin-bottom: 20px;
}

.fit-img{
    width: 150px;
    margin-bottom: 20px;
}

.cards-middle{
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(211, 106, 20);
}

/* footer section */
footer{
    height: 50px;
    background-color: gray;
    text-align: center;
    padding-top: 20px;
    color: white;
}


/* ABOUT SECTION */
#hero{
    display: flex;
    padding: 0 10%;
    margin: 50px 0;
}

#hero img{
    width: 400px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 20px;
}

.hero-text{
    width: 650px;
}

.hero-text > p{
    margin-bottom: 20px;
}

.hero-text h2{
    margin: 30px 0;
}

#guest-section{
    background: url(/img/img/test-bg.jpg) no-repeat center center/cover;
    min-height: 400px;
    width: 100%;
    padding-top: 100px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

#guest-section h2{
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.first-guest{
    padding: 15px 10px;
    background-color: rgb(211, 106, 20);
    display: flex;
    border-radius: 10px;
}

.guest{
    width: 100%;
    padding: 0 10vw;
}

.second-guest{
    padding: 15px 10px;
    background-color: rgb(211, 106, 20);
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
}

.guest-card p{
    margin-top: 20px;
    margin-left: 10px;
}

.guest-card img{
    width: 120px;
    border-radius: 50%;
}


/* CONTACT SECTION */
#contact-section{
    min-height: 100vh;

}

form{
    width: 100%;
   
}

.contact-text{
    padding: 0px 20%;
}

.contact-text h2{
    margin-top: 90px;
    margin-bottom: 50px;
}

.contact-text p{
    margin-bottom: 20px;
}

input{
    width: 60vw;
    height: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid black;
    cursor: pointer;
}

textarea{
    width: 60vw;
    margin-top: 10px;
    border: 2px solid black;
}

.submit{
    padding: 15px 12px;
    background-color: grey;
    color: white;
    cursor: pointer;
    border: none;
    transition: color 0.5s ease-in-out;
    margin-top: 10px;
}

.submit:hover{
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.lower-contact{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    background-color: rgb(36, 34, 34);
    height: 200px;
    color: white;
}

.email-number{
    color: white;
    font-size: 11px;
}

.email-number:hover{
    color: rgb(211, 106, 20);
}

h6{
    margin: 20px 0 30px 0;
    font-size: 14px;
}







